.copy {
    cursor: pointer;
}

/* .inputBox {
    width: 95px;
    height: 52px;
    border-radius: 0;
    background-color: var(--background-color);
    color: var(--darker-gray);
    border: 2px solid var(--darker-gray);
    font-family: var(--robo-reg);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: "center";
} */

.inputBox {
    width: 95px;
    height: 32px;
    border-radius: 0;
    border-bottom: 2px solid var(--darker-gray);
    font-family: var(--robo-reg);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: "center";
}

/* .inputBoxSeed {
    width: 100%;
    height: 52px;
    border-radius: 0;
    background-color: var(--background-color);
    color: var(--darker-gray);
    border: 2px solid var(--darker-gray);
    font-family: var(--robo-reg);
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
} */

.inputBoxSeed {
    width: 100%;
    height: 32px;
    border-radius: 0;
    border-bottom: 2px solid var(--darker-gray);
    font-family: var(--robo-reg);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


