@font-face {
  font-family: "mine-sweeper";
  src: url("../fonts/mine-sweeper.ttf") format("truetype");
  /* font-display: swap; */
}

@font-face {
  font-family: "RobotoMono-Regular";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype"); 
  /* font-display: swap; */
}

@font-face {
  font-family: "RobotoMono-Bold";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
  /* font-display: swap; */
}

:root {
  --robo-reg: "RobotoMono-Regular";
  --robo-bold: "RobotoMono-Bold";
  --mine-sweeper: "mine-sweeper";
}

.mine-sweeper {
  font-family: var(--mine-sweeper)
}

.robo-reg {
  font-family: var(--robo-reg)
}

.robo-bold {
  font-family: var(--robo-bold)
}