@font-face {
  font-family: "mine-sweeper";
  src: url("../fonts/mine-sweeper.ttf") format("truetype");
}

.mine-sweeper {
  font-family: "mine-sweeper";
}

/* Add Roboto Mono and a class for it
@font-face {
  font-family: "roboto-mono";
  src: url("../fonts/roboto-mono.ttf") format("monospace");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.roboto-mono {
  font-family: "roboto-mono";
} */